<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Todays_Crafts.Properties.Settings.TodaysCrafts" connectionString="Data Source=DESKTOP-BUHG7VK\SQLEXPRESS01;Initial Catalog=TodaysCrafts;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Todays_Crafts.Properties.Settings.TodaysCraftsNew"
            connectionString="Data Source=CISCO-27\SQLEXPRESS;Initial Catalog=TodaysCrafts;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>